<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TestMutexFilePath" value="X:\webUpdaterTest" />
    <!--<add key="PublishDirectory" value="X:\My web sites\Sandbox" />
    <add key="UpdateTempFolder" value="X:\My web sites\UPDATES\Sandbox" />-->

    <add key="PublishDirectory" value="X:\My web sites\Greenhouse" />
    <add key="UpdateTempFolder" value="X:\My web sites\UPDATES\Greenhouse" />
    
    <add key="CheckUrl" value="localhost/sa/ApplicationIsOk" />
  </appSettings>
</configuration>